/* NO PROJECT CASE */

.container {
  width: calc(100vw - var(--sidebar-width));
  margin-top: 10%;
  /* margin-right: 35%;
  display: flex;
  align-items: end;
  flex-direction: column;
  text-align: center; */
}

.noProjectContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: max-content;
}

/* FORM PROJECT CASE */

.form_container {
  width: calc(100vw - var(--sidebar-width));
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* justify-content: center; 
  margin-right: 20%; 
  align-items: end;
  gap: 1rem */
}

.button_container {
  width: 100%;
  display: flex;
  justify-content: end;
}

.button_container button:first-child {
  margin-right: 1.1rem;
}

.form_sub_container {
  width: 15rem;
}
