.container {
  margin-top: 15%;
  margin-right: 22%;
  display: flex;
  align-items: end;
  flex-direction: column;
  text-align: center;
}
.img_responsive {
  width: 100px;
  max-width: 100%;
}
.img {
  margin-bottom: 1rem;
}
.title,
.paragraph {
  margin-bottom: 2rem;
}
.container_form {
  margin-top: 15%;
  margin-right: 10%;
  gap: 1rem;
  display: flex;
  align-items: end;
  flex-direction: column;
}
.button_container button:first-child {
  margin-right: 1.1rem;
}

