.container {
  margin-top: 10%;
  margin-right: 35%;
  display: flex;
  align-items: end;
  flex-direction: column;
  text-align: center;
}
.img_responsive {
  width: 60px;
  max-width: 100%;
}
.img {
  margin-bottom: 1rem;
}

.title,
.paragraph {
  margin-bottom: 2rem;
}
.paragraph {
  font-size: 0.9rem;
}
.container_form {
  margin-top: 10%;
  margin-right: 20%;
  gap: 1rem;
  display: flex;
  align-items: end;
  flex-direction: column;
}
.button_container button:first-child {
  margin-right: 1.1rem;
}
