button {
    font-size: 0.9rem;
    font-family: sans-serif;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all .5s ease;
    text-align: center;
    
    &.create {
        background-color: var(--secondary-color);
        color: var(--text-color);  
        &:hover {
            color: var(--text-color); 
            background-color: var(--primary-color);
        } 
    }
    
    &.erase, &.add {
        background-color: transparent;
        color: var(--primary-color);
        &:hover {
            color: var(--main-color); 
            background-color: var(--primary-color);
        } 
       
    }
    
    &.save {
        background-color: var(--primary-color);
        color: var(--main-color);
        &:hover {
            color: var(--main-color); 
            background-color: var(--title-color);
        } 
    }
}
