/*@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:ital,wght@0,700;1,100;1,300;1,900&display=swap"); */
.content {
  padding-top: 2rem;
}

.content > button:nth-child(2) {
  margin-top: 2rem !important;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 5px;
  color: lightgray;
  text-align: center;
}
